USE [master]
GO
/****** Object:  Database [ProyectoCampo_62_RS]    Script Date: 18/05/2026 21:25:31 ******/
CREATE DATABASE [ProyectoCampo_62_RS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoCampo_62_RS', FILENAME = N'C:\SQLData\Data\ProyectoCampo_62_RS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoCampo_62_RS_log', FILENAME = N'C:\SQLData\Data\log\ProyectoCampo_62_RS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoCampo_62_RS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoCampo_62_RS]
GO
/****** Object:  Table [dbo].[Bitacora_62_RS]    Script Date: 18/05/2026 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_62_RS](
	[IdBitacora_62_RS] [int] IDENTITY(1,1) NOT NULL,
	[Usu_62_RS] [nvarchar](50) NOT NULL,
	[FechaCambio_62_RS] [datetime] NOT NULL,
	[Descripcion_62_RS] [nvarchar](500) NOT NULL,
	[Modulo_62_RS] [nvarchar](50) NOT NULL,
	[Criticidad_62_RS] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora_62_RS] PRIMARY KEY CLUSTERED 
(
	[IdBitacora_62_RS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios_62_RS]    Script Date: 18/05/2026 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_62_RS](
	[idusuario_62_RS] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma_62_RS] [int] NULL,
	[nombre_62_RS] [nvarchar](50) NULL,
	[apellido_62_RS] [nvarchar](50) NULL,
	[email_62_RS] [nvarchar](100) NULL,
	[dni_62_RS] [nvarchar](9) NULL,
	[usu_62_RS] [nvarchar](100) NULL,
	[password_62_RS] [nvarchar](500) NULL,
	[estado_62_RS] [int] NULL,
	[Activo_62_RS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idusuario_62_RS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_62_RS] ON 

INSERT [dbo].[Bitacora_62_RS] ([IdBitacora_62_RS], [Usu_62_RS], [FechaCambio_62_RS], [Descripcion_62_RS], [Modulo_62_RS], [Criticidad_62_RS]) VALUES (2063, N'HansStockl', CAST(N'2026-05-18T21:17:56.120' AS DateTime), N'Inicio de sesión exitoso', N'Seguridad', 1)
INSERT [dbo].[Bitacora_62_RS] ([IdBitacora_62_RS], [Usu_62_RS], [FechaCambio_62_RS], [Descripcion_62_RS], [Modulo_62_RS], [Criticidad_62_RS]) VALUES (2064, N'HansStockl', CAST(N'2026-05-18T21:18:27.470' AS DateTime), N'Crear Usuario', N'Seguridad', 1)
INSERT [dbo].[Bitacora_62_RS] ([IdBitacora_62_RS], [Usu_62_RS], [FechaCambio_62_RS], [Descripcion_62_RS], [Modulo_62_RS], [Criticidad_62_RS]) VALUES (2065, N'HansStockl', CAST(N'2026-05-18T21:18:59.500' AS DateTime), N'Crear Usuario', N'Seguridad', 1)
SET IDENTITY_INSERT [dbo].[Bitacora_62_RS] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios_62_RS] ON 

INSERT [dbo].[Usuarios_62_RS] ([idusuario_62_RS], [IdIdioma_62_RS], [nombre_62_RS], [apellido_62_RS], [email_62_RS], [dni_62_RS], [usu_62_RS], [password_62_RS], [estado_62_RS], [Activo_62_RS]) VALUES (3, 1, N'Hans', N'Stockl', N'hans@gmail.com', N'44759902', N'HansStockl', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 0, 1)
INSERT [dbo].[Usuarios_62_RS] ([idusuario_62_RS], [IdIdioma_62_RS], [nombre_62_RS], [apellido_62_RS], [email_62_RS], [dni_62_RS], [usu_62_RS], [password_62_RS], [estado_62_RS], [Activo_62_RS]) VALUES (11, 1, N'Claudio', N'Reinoso', N'reinosoclaudio@gmail.com', N'40916106', N'ClaudioReinoso', N'D154B96B45665E1D3484BAB72F3AC6B373CB7D0F00F03B7284A521B11D9BB03A', 0, 0)
INSERT [dbo].[Usuarios_62_RS] ([idusuario_62_RS], [IdIdioma_62_RS], [nombre_62_RS], [apellido_62_RS], [email_62_RS], [dni_62_RS], [usu_62_RS], [password_62_RS], [estado_62_RS], [Activo_62_RS]) VALUES (12, 1, N'Tomas', N'Heras', N'Tomas@gmail.com', N'389868986', N'TomasHeras', N'CDD9CD2DFA3A197A044A8D854437E7D24A67CBF3A926B2DC8A4E20938387127F', 0, 1)
SET IDENTITY_INSERT [dbo].[Usuarios_62_RS] OFF
GO
/****** Object:  StoredProcedure [dbo].[CargarBitacora_62_RS]    Script Date: 18/05/2026 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CargarBitacora_62_RS]
@Usu_62_RS nvarchar(10), @FechaCambio_62_RS datetime,@Descripcion_62_RS nvarchar(500),
@Modulo_62_RS nvarchar(50), @Criticidad_62_RS int
AS
BEGIN
	SET NOCOUNT ON;
insert into dbo.Bitacora_62_RS ([Usu_62_RS],[FechaCambio_62_RS],[Descripcion_62_RS],[Modulo_62_RS],[Criticidad_62_RS])
values (@Usu_62_RS,@FechaCambio_62_RS,@Descripcion_62_RS,@Modulo_62_RS,@Criticidad_62_RS)
END
GO
/****** Object:  StoredProcedure [dbo].[ListarBitacora_62_RS]    Script Date: 18/05/2026 21:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarBitacora_62_RS]
AS
BEGIN
	SET NOCOUNT ON;
select 
	 [Usu_62_RS]
	,[FechaCambio_62_RS]
	,[Descripcion_62_RS]
	,[Modulo_62_RS]
	,[Criticidad_62_RS] 
from dbo.Bitacora_62_RS
END
GO
USE [master]
GO
